.game {
  height: 100vh;
  background-color: #000;
  position: relative;
}

.inputs {
  .multiplier {
    width: 100%;
    display: flex;

    .item {
      width: 33.33%;
    }
  }

  .score {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 14.28%;
    }
  }
}
