.menu {
  height: 100vh;
  background-color: #000;
  position: relative;
}

.list {
  margin: 0 auto;
  padding: 48px 0 0;
  width: 80%;
  position: static;
  view-transition-name: menulist;

  .item {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: none;
    background: #000;
    border-bottom: 1px solid #fff;
    cursor: auto;
    pointer-events: none;
    transition: 0.3s;

    &.zeroone {
      view-transition-name: zeroone;
      contain: paint;

      .title {
        color: #800;
      }
    }
  }

  .images {
    width: 60%;
    height: 100%;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;

    &.zeroone {
      clip-path: polygon(0 1%, 100% 1%, 100% 100%, 30% 100%);
      filter: sepia(100%) hue-rotate(300deg) saturate(400%);
      transform: scale(-1, 1);
    }
  }

  .text {
    padding: 0 16px 0 0;
    width: 40%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    padding-bottom: 8px;
    font-size: 36px;
    text-align: right;
    border-bottom: 2px solid #fff;
    transition: 0.3s;
  }

  .description {
    margin-top: 8px;
    font-size: 12px;
  }
}

.games {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .item {
    margin: 32px 0 0;
    width: calc(33% - 8px);
    height: 200px;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      border: 1px solid #800;

      .title {
        color: #800;
      }
    }
  }

  .title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 28px;
    transition: 0.3s;
  }
}
